body {
    background-color: antiquewhite;
}

.container-form {
    background-color: blueviolet;
    max-width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: auto;
}

form {
    border: 0.4px black solid;
    padding: 0.8rem 2rem 3rem 0.5rem;
    background-color: pink;
}

.info-general {
    background-color: aliceblue;
    padding: 0.8rem 2rem 3rem 0.5rem;
    font-weight: bold;
}

span {
    font-weight: normal;
}

button {
    margin-top: 2rem;
}

.visible-general {
    display: none;
}